:twitter:
  :api_key: 
  :api_secret: 
  :access_token: 
  :access_secret: 
:pushover:
  :app_key: 
  :user_key: 
:app:
  :verbose: false
  #Suggest leaving these as default. The alert will be resent every 30 seconds for 1 hour unless acknowledged.
  :notify_expire: 3600
  :notify_retry: 30
